body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
img {
    display: block;
    margin: auto;
}

table {
    width: 100%;
    table-layout: fixed; 
    height: 300px; 
    border-collapse: collapse; 
  }

  td {
    border: 1px solid #ddd; 
    width: 100%;  
    text-align: center; 
    vertical-align: middle; 
  }
  